#----dependencies----
node_modules/

#----environment variables-----
.env

#----my drafts----
*.txt

#----db and prisma----
/server/prisma/migrations
/server/generated/prisma
*.db
*.db-journal

#----IDE Configs----
.vscode/

#----typescript----
/server/dist